<div class="row">
    <div class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Felhasználói adatok módosítása</h4>
        {{#if looser}}
        <form action="/user/profile" method="post">
            <div class="form-group input-group">
                <input class="form-control" name="name" id="name" type="text" value="{{ looser.name }}" >
            </div>
            <div class="form-group input-group">
                <input class="form-control" name="age" id="age" type="number" value="{{ looser.age }}" >
            </div>
            <div class="form-group input-group">
                <input class="form-control" name="address" id="address" type="text" value="{{ looser.address }}" >
            </div>
            <div class="form-group input-group">
                <input class="form-control" name="balance" id="balance" type="number" value="{{ looser.balance }}" >
            </div>
            <div class="form-group input-group">
                <input class="form-control" name="email" id="email" type="email" value="{{ looser.email }}" >
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-outline-dark btn-block">Módosítás</button>
        </form>
        {{/if}}
    </div>
</div>